* {margin:0px ; padding:0px}
body {overflow: hidden;}
#wrapper {background-color: lightblue; width: 1300px; height: 600px;}
.circle{position: absolute;border-radius:50%;}
.circle .circle {position:fixed; opacity: 1;}
.circle .circle.opacityT {
    animation: mymove 1s;
    animation-fill-mode: forwards;
 }
.DialogWindow {position:absolute; left:35%; top:35%; width:30%; height:30%; background-color: lightblue}
#parent {padding: 33.3%;  background-color: yellow;}
#create, #join {float:left;}
@keyframes mymove {
    0%   {opacity: 1;
    visibility: visible;}
    100% {opacity: 0;
    visibility: hidden;}
}
